<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li role="presentation">
        <%= link_to '首頁', root_path %>
      </li>
      <li role="presentation">
        <%= link_to '最新動態', feeds_restaurants_path %> 
      </li>
      <li role="presentation">
        <%= link_to 'TOP10人氣餐廳', ranking_restaurants_path %> 
      </li>
      <li role="presentation" class="active">
        <%= link_to '美食達人', users_path %> 
      </li>
    </ul>

  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="page-header">
        <h1>美食達人</h1>  
      </div>  
      <% @users.each do |user| %>       
        <div class="col-md-2 col-sm-3 col-xs-4 text-center user-item">
          <% if user.avatar? %>
              <%= image_tag user.avatar, class: "img-rounded img-responsive ",
              height: "100%" %>
            <% else %>
              <%= image_tag "http://via.placeholder.com/100x100", class: "img-responsive img-rounded",
              height: "100%" %>
            <% end %>
          <p><%= user.name %></p>
          <% if user != current_user %>
            <%= render partial: "shared/follow", locals: {user: user} %>
          <% end %>
        </div>
        
      <% end %>
    </div>    
  </div>
</div>
